
/*---------------Login-------------------*/

body{
	margin: 0;
	padding: 0;
  background-color: #F2F2F2;
}

#main{
	width: 100%;
	height: 100%;
}

.banner{
  padding: 0;
}

.banner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  opacity: 0;
  left: 0;
  z-index: -1;
}

.banner img.next{
  opacity: 1;
  z-index: 1;
}

.banner img.prev{
  opacity: 1;
  z-index: 2;
}

.banner img.fade-out{
  opacity: 0;
  transition: visibility 0s  1s, opacity 1s linear;
  visibility: hidden;
}

#form{
  background: url('../images/company.jpg');
  background-size: cover;
  background-position: center;
}

#logo{
  width: 120px;
  height: auto;
}

#simap-text{
  font-family: "Roboto", sans-serif;
  color: #1f3984;
  font-size: 2em;
  font-weight: bold;
  padding-top: 20px;
}

#btn{
  background-color: #1f3984;
  font-size: 20px;
  margin: auto;  
  height: 50px;
  border-radius: 30px;
  max-width: 60%;
}

/*--------animasi loading-------------*/
.loader-wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #0e2b80;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 999;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}

/*----------------navbar-----------------*/
.navbar{
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
	background-color: #0813B1;
	z-index: 2;
}

.brand img{
	width: 60px;
	height: auto;
}

#title{
	font-family: 'Roboto';
	font-weight: bold;
	font-size: 2em;
	color: white;
	text-align: center;
	line-height: 60px;
	padding-left: 15px;
}

.logout-btn{
	font-style: italic;
	margin-left: 10px;
	text-decoration: none;
	color: white;
}

/*---------------sidebar-------------------*/

#sidebar-wrapper{
  height: 100%; 
  width: 13rem; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #0A36B5;
  color: white;
  overflow-x: hidden;
  padding-top: 55px;
}


.line{
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.borderless{
	border: 0 none !important;
	background-color: #0A36B5;
	color: white;	
	font-size: 1.2em;
}

.list-group-item:hover{
  background-color: #103ec7;
	color: white;
}

.list-group-item.active {
  background-color: #1C48C5;
	color: white;
}

.dropdown-list {
  position: relative;
  display: block;
  padding: .40rem 1.25rem;
  background-color: #082e9c;
  text-decoration: none;
  font-size: 1em;
}

.dropdown-list.active {
  background-color: #06257d;
  color: white;
}

.dropdown-list:hover {
  background-color: #2344a1;
  color: white;
  text-decoration: none;
}

.dropdown-btn{
  cursor: pointer;
}

.avatar{
	vertical-align: middle;
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.profile-name{
	font-size: 1em;
}

/*--------------content-----------------*/

#page-content-wrapper{
  width: 100%;
  margin-top: 60px;
  margin-left: 13em;
}

.table{
  font-size: 0.8em;
}

/*--------------dashboard card-----------------*/

.card-box {
      position: relative;
      color: #fff;
      padding: 20px 10px 40px;
      margin: 20px 0px;
  }
  .card-box:hover {
      text-decoration: none;
      color: #f1f1f1;
  }
  .card-box:hover .icon i {
      font-size: 100px;
      transition: 1s;
      -webkit-transition: 1s;
  }
  .card-box .inner {
      padding: 5px 10px 0 10px;
  }
  .card-box h3 {
      font-size: 1.5em;
      font-weight: bold;
      margin: 0 0 8px 0;
      white-space: nowrap;
      padding: 0;
      text-align: left;
  }
  .card-box p {
      font-size: 15px;
  }
  .card-box .icon {
      position: absolute;
      top: auto;
      bottom: 5px;
      right: 5px;
      z-index: 0;
      font-size: 72px;
      color: rgba(0, 0, 0, 0.15);
  }
  .card-box .card-box-footer {
      position: absolute;
      left: 0px;
      bottom: 0px;
      text-align: center;
      padding: 3px 0;
      color: rgba(255, 255, 255, 0.8);
      background: rgba(0, 0, 0, 0.1);
      width: 100%;
      text-decoration: none;
  }
  .card-box .card-box-footer {
      position: absolute;
      left: 0px;
      bottom: 0px;
      text-align: center;
      padding: 3px 0;
      color: rgba(255, 255, 255, 0.8);
      background: rgba(0, 0, 0, 0.1);
      width: 100%;
      text-decoration: none;
  }

  .card-box .card-box-btn-delete{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0px;
    bottom: auto;
    right: 0px;
    z-index: 3;
    font-size: 1.7em;
    color: white;
    background: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    visibility: hidden;
  }

  .card-box:hover .card-box-btn-delete{
    visibility: visible;
  }

  .card-box .card-box-btn-delete:hover{
    background: rgba(255, 0, 0, 0.8);
  }

  .card-box:hover .card-box-footer {
      background: rgba(0, 0, 0, 0.3);
  }
  .bg-blue {
      background-color: #00c0ef !important;
  }
  .bg-green {
      background-color: #00a65a !important;
  }
  .bg-orange {
      background-color: #f39c12 !important;
  }
  .bg-red {
      background-color: #d9534f !important;
  }
  .bg-orange{
      background-color: #ffc505 !important;
  }

  @media print {
    img {
      max-height: 120px !important;
      max-width: 120px !important;
      height: auto !important;
      width: auto !important;
      position: absolute;
  }